.card__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.card {
  max-width: 300px;
  text-align: center;
  height: 400px;

  img {
    width: 300px;
    height: 200px;
    object-fit: contain;
  }
  .card__price {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
