.form__item {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  margin-top: 20px;
  img {
    width: 140px;
    border-radius: 15%;
    display: block;
    margin: 0 auto;
  }
}
