.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  button {
    padding: 0px 30px;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(252, 199, 54);
    color: rgba(255, 255, 255, 0.87);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
